.heading {
  font-family: var(--font-display);
  font-weight: 700;
  color: var(--text-darkest);
}

h1.heading {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

h2.heading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h3.heading {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

@media (min-width: 1280px) {
  h1.heading {
    font-size: 3rem;
  }

  h2.heading {
    font-size: 2rem;
  }
}